@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #bb20d93b;
  margin: 0%;
  padding: 0%;
  font-family: Poppins, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 60px;
  margin: 0 20px;
}

.todolist {
  width: 500px;
  min-height: 300px;
  border: 2px solid white;
  border-radius: 1px 1px 100px 100px;
  padding: 20px 20px 100px;
  margin-top: 30px;
  background-image: radial-gradient(#b073e9, #7424be);
}

.todolist li {
  color: white;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  word-break: break-word;
}

li button {
  float: right;
  color: #7424be;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: solid transparent;
  border: 1px solid white;
  transition: 0.2s all ease-in-out;
}

li button:hover {
  background-color: #7424be;
  color: white;
}

#inputtask {
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 10px;
  border: solid transparent;
  font-size: 24px;
  margin-right: 10px;
  color: #7424be;
}

#inputtask:focus {
  outline: none;
}

#addbutton,
.clear {
  color: #7424be;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: 0.3s all ease-in-out;
}

#addbutton:hover,
.clear:hover {
  background-color: #c281ff41;
  color: white;
  transform: scale(0.97);
}

.d-none {
  display: none;
}

li span:focus {
  background-color: white;
  color: black;
  outline: none;
  padding: 0 5px;
  display: inline-block;
  min-width: 300px;
  max-width: 400px;
}

.link {
  text-align: center;
  margin: 20px;
}

.link a {
  color: white;
}
